body {
  background-color: #24273a;
}
cursor {
  cursor: url(./assets/icons8-cursor.svg);
}

/* Main */
#div1 {
  margin: auto;
  height: 100%;
  width: 100%;
}

#header1 {
  color: #ca9ee6;

  /* centered */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  /* Size */
  font-size: 60px;
}
