body {
  background-color: #24273a;
  font-family: JetBrains Mono;
}

#div1 {
  margin: auto;
  height: 100%;
  width: 100%;
}
#header1 {
  color: #ca9ee6;

  /* centered */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  /* Size */
  font-size: 12px;
  /* Adjust based on screen size */
  white-space: pre-wrap;
  /* Allows text to wrap */
  overflow-x: auto;
  /* Adds horizontal scrolling if needed */
  text-align: center;
}

/* TOPBAR LINKS START */
a {
  text-decoration: none;
}
.topbar-links {
  display: flex;
}
.gallery-img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.projects-img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  vertical-align: middle;
}
.about-img {
  width: 21px;
  height: 21px;
  vertical-align: middle;
}
.gallery-link {
  color: #ca9ee6;
  margin-right: 3px;
  text-align: left;
}
.about-link {
  color: #ca9ee6;
  margin-left: 3px;
}
.project-link {
  color: #ca9ee6;
  margin-left: 3px;
}
.home-link {
  color: #ca9ee6;
  margin-right: 6px;
}
.home-img {
  width: 21px;
  height: 21px;
  vertical-align: middle;
}
/* TOPBAR LINKS END */
/* ABOUT START */
.inspo-img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  border: 1.5px solid #ca9ee6;
  box-shadow: 3.7px 7.4px 7.4px hsl(0deg 0% 0% / 0.39);
}
.githubinreadme {
  color: #ca9ee6;
  text-decoration: underline;
}
/* ABOUT END */

/* GALLERY START */

.preview-button {
  background-color: #5b6078;
  border-radius: 10px;
}

/* GALLERY END */

/* BLINKIES START */
.Blinkies {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap if needed */
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cliBlinkie:hover {
  box-shadow: 0 0 10px 5px rgba(0, 255, 0);
}
.rm-rfBlinkie:hover {
  box-shadow: 0 0 10px 5px rgba(0, 255, 0);
}
.Blinkies img {
  max-width: 100%;
  max-width: 100%;
  /* Ensures blinkies don’t overflow */
  height: auto;
  /* Maintains aspect ratio */
  object-fit: contain;
}

/* BLINKIES END */

/* MAIN START */
.main {
  padding: 15px;
  background-color: #363a4f;
  border-radius: 10px;
  margin-top: 10px;
  color: #99d1db;
  display: flex;
  align-items: flex-start;
  /* Align everything to the top */
  gap: 20px;
  /* Space between image and text */
  position: relative;
  justify-content: space-between;
  box-shadow: 3.7px 7.4px 7.4px hsl(0deg 0% 0% / 0.39);
}

.pizza {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  border: 1.5px solid #ca9ee6;
  box-shadow: 3.7px 7.4px 7.4px hsl(0deg 0% 0% / 0.39);
}

.README {
  top: 0;
  left: 0;
  color: #fab387;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 100%;
}
/* MAIN END */
@media (max-width: 768px) {
  /* Tablets */
  #header1 {
    font-size: 12px;
  }

  .Blinkies {
    gap: 5px;
    /* Reduce spacing */

    .pizza {
      width: 300px;
      height: 300px;
    }
  }
  .main {
    flex-direction: column;
    padding: 10px;
    background-color: #363a4f;
    border-radius: 10px;
    margin-top: 10px;
    color: #99d1db;
    display: flex;
    /* Align everything to the top */
    gap: 20px;
    /* Space between image and text */
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  #header1 {
    font-size: 5px;
  }

  .pizza {
    height: 250px;
    width: 250px;
  }
  .inspo-img {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 423px) {
  .pizza {
    height: 250px;
    width: 250px;
  }
}
